[Unit]
Description=MoMo core service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/momo
ExecStart=/usr/bin/momo run -c /opt/momo/configs/momo.yml
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target


